<div class="navbar">
  <div class="nav-item" routerLink="/home/dashboard">
    <img
      src="https://img.icons8.com/?size=24&id=1iF9PyJ2Thzo&format=png&color=FFFFFF"
      class="icon"
      alt="Home"
    />
    <span>Home</span>
  </div>
  <div class="nav-item" routerLink="/home/investments">
    <img
      src="https://img.icons8.com/?size=24&id=M1HUQOE9lLoG&format=png&color=FFFFFF"
      class="icon"
      alt="Experience"
    />
    <span>Investimenti</span>
  </div>
  <div class="nav-item" routerLink="/home/loans">
    <img
      src="https://img.icons8.com/?size=24&id=woHAoqQoqxX1&format=png&color=FFFFFF"
      class="icon"
      alt="Bonifico"
    />
    <span>Prestiti</span>
  </div>
  <div class="nav-item" routerLink="/home/education">
    <img
      src="https://img.icons8.com/?size=24&id=79387&format=png&color=FFFFFF"
      class="icon"
      alt="Education"
    />
    <span>Education</span>
  </div>
</div>


