<div class="col-12">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col center-elem-col">
          <div
            class="chart-container"
            style="position: relative; height: 400px; width: 600px"
          >
            <canvas id="sp500Chart">{{ sp500Chart }}</canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col center-elem-col">
          <div
            class="chart-container"
            style="position: relative; height: 400px; width: 600px"
          >
            <canvas id="worldChart">{{ worldChart }}</canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col center-elem-col">
          <div
            class="chart-container"
            style="position: relative; height: 400px; width: 600px"
          >
            <canvas id="bitcoinChart">{{ bitcoinChart }}</canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
